/**
 * =============================================================================
 * This is the file where all your styling should go in.
 * Instead of modifying the styles found in the monogatari.css file or others,
 * you should overwrite those styles in this file.
 *
 * The CSS selectors shown are not an extensive list but they are the most
 * common you might want to change. To find what other elements are available,
 * you can take a look at the monogatari.css file or use your browser's dev
 * tools to inspect the elements.
 * =============================================================================
**/

/**
 * ===========================
 * General Styling
 * ===========================
**/

/* General Style */
body {

}

/* Simple Button styles*/
button {

}

/* Simple Button Style on Hover */
button:hover {

}

/* General Styling for Menu Screens */
[data-screen] {

}

/**
 * ===========================
 * Main Menu Styling
 * ===========================
**/

/* Main Menu Styling */
[data-screen="main"] {
	background-image: url('./assets/scenes/cafe-exterior.jpg');
}

/* Main Menu Buttons Styling */
[data-screen="main"] button {

}

/**
 * ===========================
 * Save and Load Menus Styling
 * ===========================
**/

/* Slots Style */
[data-component="save-slot"] figure {

}

/* Slot's Image Style */
[data-component="save-slot"] img {

}

/* Slots Title Style */
[data-component="save-slot"] figcaption {

}

/* Slots Delete Button Style */
[data-component="save-slot"] button {

}

/**
 * ===========================
 * Game Elements Styling
 * ===========================
**/

/* Choice Buttons style */
[data-component="choice-container"] button {

}

/* Choice Button Style on Hover */
[data-component="choice-container"] button:hover {

}

/* Text Box styling */
[data-component="text-box"] {

}

/* Character Name Style */
[data-ui="who"] {

}

/* Style for Centered Text */
[data-component="centered-dialog"] {

}

/* Character Images Styles */
[data-screen="game"] [data-character] {

}

/* Other Images Styles */
[data-screen="game"] [data-image] {

}

/**
 * ===========================
 * Quick Menu Styling
 * ===========================
**/

/* These styles are applied to the Mobile version of the Quick Menu */

/* Quick Menu Style */
[data-component="quick-menu"] {

}

/* Quick Menu Buttons Style */
[data-component="quick-menu"] span {

}

/* Quick Menu Buttons Style on Hover */
[data-component="quick-menu"] span:hover {

}

/* Quick Menu Buttons Icon Style */
[data-component="quick-menu"] > span > .fa {

}

/**
 * ===========================
 * Range Styling
 * ===========================
**/

/* Use the background property to set a color for these */
input[type=range]:focus::-webkit-slider-runnable-track {

}

input[type=range]::-webkit-slider-runnable-track {

}

input[type=range]:focus::-ms-fill-upper {

}

input[type=range]:focus::-ms-fill-lower {

}

input[type=range]::-moz-range-track {

}

input[type=range]::-ms-fill-lower {

}

input[type=range]::-ms-fill-upper {

}

/** Medium Screens, Phablets (601px) **/
@media screen and (min-width: 37.56255em) {
	/* Styles for the desktop version of the Quick Menu */

	/* Quick Menu Style */
	[data-component="quick-menu"] {

	}

	/* Quick Menu Buttons Style */
	[data-component="quick-menu"] span {

	}

	/* Quick Menu Buttons Style on Hover */
	[data-component="quick-menu"] span:hover {

	}
}

/** Medium Devices, Tablets (992px)**/
@media screen and (min-width: 62em) {

}

/** HD Screen, Large Devices, Wide Screens, Desktop (1200px) **/
@media screen and (min-width: 75em) {

}

/** Full HD Screen, Large Devices, Wide Screens, Large Desktops (1920px) **/
@media screen and (min-width: 120em) {

}

/** Retina Screen , Large Devices, Wide Screens(2560px) **/
@media screen and (min-width: 160em) {

}

/** 4k Screens, Large Devices, Wide Screens (3840px) **/
@media screen and (min-width: 240em) {

}

/** 5k Screens, Large Devices, Wide Screens (5000px) **/
@media screen and (min-width: 312.5em) {

}

/** 8k Screens, Large Devices, Wide Screens (8000px) **/
@media screen and (min-width: 500em) {

}

/** CUSTOM CSS **/

[data-component=visual-novel] {
	background-image: url(./assets/scenes/cafe-exterior.jpg);
	background-size: cover;
}

[data-content=visuals] {
	overflow: hidden;
}

[data-component=loading-screen] [data-content=wrapper] {
	width: 100%;
	padding: 20px 20px 25px;
	background: rgba(0,0,0,0.5);
	color: #fff;
}

[data-screen]:not([data-screen=game]):not([data-screen=main]):not([data-screen=loading]) {
	position: fixed;
	margin: 40px;
	width: calc(100vw - 80px);
	height: calc(100vh - 80px);
	padding: 40px;
	overflow: auto;
	box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 20%);
	background: rgba(255,255,255,0.9);
	color: #000;
}

[data-screen]:not([data-screen=game]) button[data-action=back] {
	position: fixed !important;
	top: 40px;
	left: 40px;
}

[data-screen]:not([data-screen=game]) a {
	color: #69ab99;
}

[data-screen]:not([data-screen=game]) a:hover {
	color: #79CFB8;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
}

.showScene {
	animation: showScene .5s ease-out;
	transform-origin: center;
}

@keyframes showScene {
	0% {
    transform: rotateY(90deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}

.exclaim {
	animation: exclaim .3s ease-out;
	transform-origin: center;
}

@keyframes exclaim {
	0% {
    transform: translateY(0);
	}
	50% {
    transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
}

.deject {
	animation: deject .3s ease-out;
	transform-origin: center;
}

@keyframes deject {
	0% {
    transform: translateY(0);
	}
	50% {
    transform: translateY(20px);
	}
	100% {
		transform: translateY(0);
	}
}

.assert {
	animation: assert 1s ease-out forwards;
	transform-origin: top;
}

@keyframes assert {
	0% {
    transform: scale(1);
	}
	100% {
		transform: scale(1.5);
	}
}

.boldedText {
	font-weight: bold;
	font-family:'Times New Roman', Times, serif;
}

.italicText{
	font-style: italic;
}
